body {
  font-family: 'PT Sans', Verdana, Geneva, sans-serif;
  padding-bottom: 200px;
}

.content-wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

pre.example-interaction {
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #F8F8F8;
  padding: 6px 10px;
}

#verify-result {
  display: inline-block;
  padding: 2px 8px;
}

.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #5f8819;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #a9cf66;
  -moz-box-shadow: inset 0 1px 0 0 #a9cf66;
  box-shadow: inset 0 1px 0 0 #a9cf66;
  color: white;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  background-color: #87ba2e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87ba2e), color-stop(100%, #69951b));
  background-image: -webkit-linear-gradient(top, #87ba2e, #69951b);
  background-image: -moz-linear-gradient(top, #87ba2e, #69951b);
  background-image: -ms-linear-gradient(top, #87ba2e, #69951b);
  background-image: -o-linear-gradient(top, #87ba2e, #69951b);
  background-image: linear-gradient(top, #87ba2e, #69951b);
  padding: 6px 18px 7px;
  text-shadow: 0 1px 0 #547b11;
  -webkit-background-clip: padding-box;
  font: normal 1.2rem/1.6rem "PT Sans", Verdana, Geneva, sans-serif;
  letter-spacing: 0px;
  padding: 4px 20px;
  vertical-align: top;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  -webkit-box-shadow: inset 0 1px 0 0 #93c43d;
  -moz-box-shadow: inset 0 1px 0 0 #93c43d;
  box-shadow: inset 0 1px 0 0 #93c43d;
  cursor: pointer;
  background-color: #77a12d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77a12d), color-stop(100%, #5f8719));
  background-image: -webkit-linear-gradient(top, #77a12d, #5f8719);
  background-image: -moz-linear-gradient(top, #77a12d, #5f8719);
  background-image: -ms-linear-gradient(top, #77a12d, #5f8719);
  background-image: -o-linear-gradient(top, #77a12d, #5f8719);
  background-image: linear-gradient(top, #77a12d, #5f8719);
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
  border: 1px solid #5f8819;
  -webkit-box-shadow: inset 0 0 8px 4px #567a18, inset 0 0 8px 4px #567a18, 0 1px 1px 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #567a18, inset 0 0 8px 4px #567a18, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #567a18, inset 0 0 8px 4px #567a18, 0 1px 1px 0 #eeeeee;
}

input[type="submit"][disabled],
input[type="button"][disabled],
button[disabled],
.button[disabled] {
  background: #aaaaaa;
  color: #e6e6e6;
  border: 1px solid #787878;
}

input[type="submit"][disabled]:active,
input[type="button"][disabled]:active,
button[disabled]:active,
.button[disabled]:active {
  box-shadow: none;
}