<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MongoDB Tutorial</title>
  <style type="text/css">
    {% include "default.css" %}
  </style>
</head>
<body>
  <div class="content-wrapper">
    <h1 style="text-align: center">Let's learn MongoDB!</h1>

    <h3>We'll walk you through the basics of using MongoDB. You can use the
      shell below to try out commands and follow along with the tutorial.</h3>

    <p id="prompt"></p>
    <div class="mongo-web-shell">
      <!--<p>connecting to database</p>-->
      <p>type "help" for help</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/dist/mongoWebShell.js" data-css-path="dist/mongoWebShell.css"></script>
  <script type="text/javascript">
    $(window).load(function(){setTimeout(function () {
      var wrapInCodeBlock = function(str) {
        return '<code style="background: lightgray; padding: 2px; border-radius: 2px">' + str + '</code>';
      };


      var shell = mongo.shells[0];
      var targetCollection = null;
      $('#prompt').html('Let\'s get started by running an insert command!<br />' +
                        'You can do this by typing ' + wrapInCodeBlock('db.&lt;collection name&gt;.insert(...)'));
      $.Deferred(function (deferred) {
        function doBind() {
          mongo.events.bindOnce(shell, 'db:collection:insert', function(e, data){
            var args = $.makeArray(data.arguments);
            if (args.length !== 0) {
              var firstArg = args[0];
              if (!Array.isArray(firstArg)) {
                firstArg = [firstArg];
              }
              var argsString = firstArg.map(function (doc) {
                return wrapInCodeBlock(JSON.stringify(doc))
              }).join(' and ');

              $('#prompt').html('Great job! You inserted ' + argsString +
                                ' into collection ' + wrapInCodeBlock(data.collection) + '.<br />' +
                                'Let\'s make sure your data was saved to the database.<br />' +
                                'You can do this by typing ' + wrapInCodeBlock('db.' + data.collection + '.find(...)'));
              targetCollection = data.collection;
              deferred.resolve();
            } else {
              doBind();
            }
          });
        }
        doBind();
      }).then(function(){
        var deferred = $.Deferred();
        function doFindBind() {
          mongo.events.bindOnce(shell, 'db:collection:find', function(e, data){
            if (data.collection === targetCollection) {
              var args = $.makeArray(data.arguments);
              var query;
              if (args.length === 0) {
                query = '';
              } else {
                query = ' that match ' + wrapInCodeBlock(JSON.stringify(args[0]));
              }
              var projection;
              if (args.length < 2) {
                projection = '';
              } else {
                projection = ' the fields ' + wrapInCodeBlock(JSON.stringify(args[1])) + ' in';
              }

              $('#prompt').html('Good! You looked for' + projection +' all files' + query + ' in collection ' + wrapInCodeBlock(data.collection) + '.');
              deferred.resolve();
            } else {
              doFindBind();
            }
          });
        }
        doFindBind();
        return deferred;
      }).then(function(){
        return mongo.events.bindOnce(shell, 'cursor:execute', function(e, data){
          var existenceVerb = data.result.length === 1 ? 'is' : 'are';
          var plural = data.result.length === 1 ? '' : 's';
          $('#prompt').append('<br />There ' + existenceVerb + ' ' + data.result.length + ' document' + plural + ' matching this query.<br />' +
                              'Now that we\'re sure the database kept our data, ' +
                              'let\'s make sure we clean up after ourselves. We can remove this data with ' +
                              wrapInCodeBlock('db.' + targetCollection + '.remove(...)'));
        });
      }).then(function(){
        var deferred = $.Deferred();
        function doRemoveBind() {
          mongo.events.bindOnce(shell, 'db:collection:remove', function(e, data){
            if (data.collection === targetCollection) {
              var args = $.makeArray(data.arguments);
              var removeString = args.length === 0 ? '' : ' that match ' + wrapInCodeBlock(JSON.stringify(args[0]));
              $('#prompt').html('Great job. You removed all files' + removeString + ' from collection ' + wrapInCodeBlock(data.collection) +
                            '<br />Congratulations, you\'ve mastered the basics! Welcome to the MongoDB Community.');
              deferred.resolve();
            } else {
              doRemoveBind();
            }
          });
        }
        doRemoveBind();
        return deferred;
      });
    }, 100)});
  </script>
</body>
</html>
